<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ( "header.ejs") %>
    <div class="header">

        <% if(typeof isLogin !== "undefined" && isLogin){%>
            <div class="header-widget">
                <a href="#">
                    <div class = "user-avatar status-online">
                        <img src="images/flower.jpeg" alt="user-avatar">
                    </div>
                </a>
                <div class="username">
                    <%= username %>
                </div>
        <a href="/my_uploads">
        MY uploads
        </a>
        <a href="/logout">
        logout</a>
    </div>
        <% } else { %>
            <a href="/login">login</a>
            <a href="/register">register</a>

       <% } %>
  </div>
 
</body>
</html>